{% load static %}
<html>
    <head>
        <title>Список товаров </title>
        <link rel="stylesheet" href="{% static 'css/info.css' %}">
    </head>
    <body>
        <header class="table_container">
            <header class="table_header">
                <h1>Список товаров</h1>
            </header>
                        <p style="text-align: right;">
                            <a href="/product_add">Добавить продукт</a>
                        </p>
            <div class="table_body">
                <table style="width:100%">
                        <tr>
                            <th>№</th>
                            <th>Название товара</th>
                            <th>Количество на складах</th>
                            <th>Цена</th>
                        </tr>
                        {% for r in products %}
                        <tr>
                                <th><a href = '/products/{{r.id}}'>{{r.id}}</header></a></th>
                                <th><a href = '/products/{{r.id}}'>{{r.name}}</a></th>
                                <th><a href = '/products/{{r.id}}'>{{r.amount}}</a></th>
                                <th><a href = '/products/{{r.id}}'>{{r.price}}</a></th>
                        </tr>
                        {% endfor %}
                </table>
            </div>
        </div>
    </body>
