body{
  font-family: Impact;
  background-color: #000000;
  text-align: center;
}

h1 {
  color: #ffffff;
  margin-bottom: 5px !important;

}

h2 {
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  margin-bottom: 5px !important;
  margin-top: 0px;

}

p {
  font-family: "Comic Sans MS";
  color: #FFFFFF;
  margin-top: 5px !important;
  margin-left: 40px;
}

img{
  margin-top: 10px;
  margin-bottom: 10px;
}

div{
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px;
}