body{
    background-color: rgb(241, 241, 241);
    text-align: center;
}
a:link {
    
    font-family: 'Roboto', sans-serif;
    background-color: rgb(221, 214, 241);
    color: rgb(0, 0, 0);
  }

button{
    margin-bottom: 1px !important;
    margin-top: 1px !important;
    margin-left: 1px !important;
    margin-right: 1px !important;
}